.fav-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
    margin-bottom: 10px;
    width: 60%;
}
.opened-fav {
    display: flex;
    flex-direction: column;
    font-size: 18px;

}