/* 
#bac1b8 grey
#58a4b0 teal
#0c7c59 green
#2b303a black
#d64933 red
*/

.dropbtn {

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 3px;
}

.button1{
  background-color: #58a4b0;
}

.button2{
  background-color: #addae1;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 210px;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
}

.dropdown {
  position: relative;
  display: inline-block;
}
/* ///////// */

.type-drop {
  position: relative;
  display: inline-block;
}
.type-dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.type-dropcontent {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 210px;
  overflow: scroll;
}

.type-dropcontent span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
}

.modal {
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  position: absolute;
  background-color: rgba(245, 245, 245, 0.75);
  border-radius: 10px;
}

.top-container {
  height: 50%;
  background-image: url('https://images.unsplash.com/photo-1521917441209-e886f0404a7b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c9da9e12bc69d92a619d44059a8d335f&auto=format&fit=crop&w=800&q=60') ;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.btm-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height: 50%;
}

#locator {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

#login {
  width: 100px;
}
.logo {
  color: #bac1b8;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
